// variáveis, tipografia, mixins



// variáveis

$primary-color: rgb(12,167,25);
$info-color: rgb(117, 28, 233);
$alert-color: rgb(233, 151, 28);
$sucess-color: rgb(45, 233, 28);
$sans-serif: 'Open Sans', sans-serif;

//Mixin

@mixin  box($height: 400px, $width: 400px) {
    height: $height;
    width: $width;
    border: 3px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;    
}

@mixin box-color($color){
    background-color: rgba($color, 0.2);
    border-color: $color;
    color: $color;
}
    

.sucess{
    @include box(100px, 600px);
    @include box-color($sucess-color)
   }

.alert-sm{
    @include box(50px, 300px);
    @include box-color($alert-color)   
}