* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:black;
}

main{
 
}

body {
  font-family: sans-serif;
  color: white;
}



header {
  height: 14vh;
  background-color: black;
  /* a difícil missão centralizar horizontal e verticalmente */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-container {
  margin: 0px auto;
  width: 80vw;
  display: flex;
  background-color:black;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  border: 10px;
}

.item {
  height: 300px;
  font-weight: 700;
  text-align: left;
  border: 1px black solid;
  border-radius: 5px;
  display: flex;
  align-items: right;
  flex-direction: row;
}

.image {
  border-radius: 10px;
}